<section class="hero is-fullheight has-text-centered has-background-white-ter" id="sluzby">
    <div class="hero-body">
        <div class="container">
            <div class="columns">

                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">

                    <div class="container columns is-centered">
                        <p class="title has-text-black is-size-3 is-uppercase has-text-weight-bold">Nabízené služby</p>
                    </div>


                    <div class="container columns is-centered">

                        <ul class="list-group">
                            <li class="list-group-item">Výroba oken</li>
                            <li class="list-group-item">Výroba dveří</li>
                            <li class="list-group-item">atd</li>
                            <li class="list-group-item">atd</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>